/* .thumbnail img{
	width:100%;
} */
.thumbnail{
	padding:0;
}
body{
	background-image: url("https://c.pxhere.com/images/90/d7/2d4e9a5a18e319dd43bdcc20c120-1627262.jpg!d");
	
}
.thumbnail .caption-full {
	padding:9px;
}
@media (min-width: 768px) {
        .thumbnail img {
            object-fit: cover;
            height: 200px:
            width: 100%;
        }
    }
.delete-form{
	display:inline;
}