/* .thumbnail img{
	width:100%;
} */
.thumbnail{
	padding:0;
}
body{
	background-image: url("https://i.pinimg.com/originals/d9/ef/06/d9ef061b0b79df1790174e57bb9fc548.jpg");
	
}
.thumbnail .caption-full {
	padding:9px;
}
@media (min-width: 768px) {
        .thumbnail img {
            object-fit: cover;
            height: 200px:
            width: 100%;
        }
    }
.delete-form{
	display:inline;
}